/*
=====================================================================
*   Marhsall_Landing Stylesheet
*
*   02-05-2022
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. Nav Styles
   d. Main Styles
   e. Footer Styles

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body
{
  background-color: #807f7e;
  font-family: 'Bangla MN';
  box-sizing: border-box;
  font-size: 14px;
}

html, body
{
  margin: 0;
}

p
{
  padding: 0.5em;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header, nav
{
  text-align: center;
  background-color: #2B2B2B;
  color: #95A3A3
}

/* ------------------------------------------------------------------ */
/* b. Nav Styles
/* ------------------------------------------------------------------ */

nav
{
  text-align: left;
  padding: 0.5em 1em;
}

nav > a
{
  text-decoration: none;
  color: #95A3A3;
}

/* ------------------------------------------------------------------ */
/* b. Main Styles
/* ------------------------------------------------------------------ */


main
{
  margin: 1em;
}

main > .pages
{
  background-color: #ebeeee;
  padding: 1.5em;
}

.pages > h3
{
  color: #7A7A7A;
  
}

.pages > img
{
  max-width: 100%;
}

.pages > p
{
  color: #7A7A7A;
  text-align: justify;
}

/* ------------------------------------------------------------------ */
/* l. Footer
/* ------------------------------------------------------------------ */

footer
{
  background-color: #2B2B2B;
  color: #95A3A3;
  margin-bottom:2rem;
  padding: 0.5em;
}
